.left-box {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-rows: 1fr 2fr 2fr;
}


.header {
    font-size: xx-large;
    margin: 50px;
    font-weight: bolder;
}

.left-box-1 {
    display: grid;
    height: 20px;
    width: 600px;
    grid-template-columns: 250px 100px 100px;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.left-box-1 > h1 {
    font-size: 100px;
}

.right-box-2 {
    display: grid;
    grid-template-columns: 250px 100px;
}